
<h2> <%=@user.first_name%> <%=@user.last_name%>'s Playlist </h2>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th> Times Added </th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |fave| %>
    <tr>
      <td> <%= fave.song.artist %></td>
      <td> <%=fave.song.title%></td>
      <td> <%=fave.user.favorites.count %></td>
    </tr>
    <%end%>
  </tbody>
</table>

<br>

<a href='/songs'>Back to Dashboard</a>
